# IDEs and editors
.idea/*
!.idea/codeStyles
!.idea/dictionaries

# Logs
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules

# Environment variables
.env
.iam.json
app.yaml

# Misc
.directory
